body {
    font-family: arial;
  }
header {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: rgb(88, 147, 206);
    color: white;
  }
  footer {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: rgb(32, 31, 94);
    color: white;
  }
  main {
    flex: 1;
    padding: 20px;
  }
  